#dateLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 6%;
  fill: #ffffff;
}

#timeLabel {
  font-size: 62;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%-1;
  y: 50%+20;
  fill: #ffffff;
}

#secLabel {
  font-size: 22;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 65%+25;
  y: 50%+7;
  fill: #ffffff;
}

#caloriesLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 28%;
  y: 74%;
  fill: #FB5607;
}

#stepsLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 28%;
  y: 66%;
  fill: #FFBE0B;
}

#distanceLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 64%;
  y: 66%;
  fill: #8338EC;
}

#floorsLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 64%;
  y: 74%;
  fill: #3A86FF;
}

#heartRateLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 51%;
  y: 38%+1;
  fill: #FF006E;
}

#azmLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 51%;
  y: 30%+1;
  fill: #3A86FF;
}

#batteryLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 10%;
  y: 6%;
  fill: #00ff00;
}

.statsIcon {
  height: 20;
  width: 20;
}

#stepsIcon {
  x: 20%;
  y: 60%;
}

#caloriesIcon {
  x: 20%;
  y: 68%;
}

#distanceIcon {
  x: 52%;
  y: 60%;
}

#floorsIcon {
  x: 52%;
  y: 68%;
}

#azmIcon {
  x: 43%;
  y: 24%;
}

#heartRateIcon {
  x: 43%;
  y: 32%;
  fill: orange;
}

#stepsTestLabel {
  font-size: 16;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 2%;
  y: 15%;
  fill: #FFBE0B;
}

#distanceTestLabel {
  font-size: 16;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 2%;
  y: 20%;
  fill: #8338EC;
}

#caloriesTestLabel {
  font-size: 16;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 2%;
  y: 25%;
  fill: #FB5607;
}

#floorsTestLabel {
  font-size: 16;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 2%;
  y: 30%;
  fill: #3A86FF;
}

#testPoint1 {
  opacity: 1;
}

#testPoint2 {
  opacity: 1;
  x: 20;
  y: 30;
}