.sensor-label {
  font-family: System-Regular;
  fill: white;
  text-anchor: middle;
  text-length: 32;
  font-size: 20;
  x: 50%;
  y: $+5;
}

.sensor-data {
  font-family: System-Light;
  fill: yellow;
  text-anchor: middle;
  text-length: 64;
  font-size: 20;
  x: 50%;
  y: $;
}

#dateLabel {
  font-size: 20;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: #ffffff;
}

#timeLabel {
  font-size: 70;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: middle;
  x: 50%-16;
  y: 50%+20;
  fill: #ffffff;
}

#secLabel {
  font-size: 25;
  font-family: Seville-Book;
  text-length: 32;
  text-anchor: start;
  x: 65%+22;
  y: 50%+7;
  fill: #ffffff;
}
